
.@{xm-prefix}-emoji-textarea {
  position: relative;
  display: flex;
  .tox-tinymce .tox-editor-container .tox-editor-header {
    display: none;
  }
  >img{
    height: 14px;
    width: 14px;
  }
  .tox-toolbar {
    .tox-tbtn svg {
      fill: #6a6f7b;
    }
  }
  .tox-tinymce {
    border: 1px solid #e6e6e6;
    border-radius: 4px;
  }
  &-editor {
    flex: 1;
    min-height: 0;
    position: relative;
    display: flex;
    align-items: flex-start;

  }
  &-richtext{
    flex: 1;
    min-height: 0;
  }
  &-limit {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: #c7c7cd;
    font-size: 14px;
    line-height: 14px;
  }
  .mce-content-body{
    &:before{
      color: #bfbfbf !important;
    }
  }
}

.@{xm-prefix}-emoji-input{
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
  >img{
    height: 14px;
    width: 14px;
  }
  .tox-tinymce .tox-editor-container .tox-editor-header {
    display: none;
  }
  .tox-toolbar {
    .tox-tbtn svg {
      fill: #6a6f7b;
    }
  }
  .braft-emoticon-wrap{
    position: relative;
    top: -3px;
  }
  .tox-tinymce {
    border: 1px solid #e6e6e6;
    border-radius: 4px;
  }
  &-editor {
    flex: 1;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  &-richtext{
    flex: 1;
    height: 38px;
    min-height: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    div {
      white-space: nowrap;
    }
    .mce-content-body{
      width: 100%;
    }
    *:focus,
    *:hover {
      outline: 0;
    }
  }
  &-limit {
    color: #c7c7cd;
    font-size: 14px;
    white-space: nowrap;
    padding-left: 4px;
  }
  //.mce-content-body{
  //  &:before{
  //    color: #bfbfbf !important;
  //  }
  //}
}
